.Dashboard {
  text-align: center;
  color: #3e78b2;
}

.Dashboard button {
  background-color: #07070a;
  font: inherit;
  font-weight: bold;
  padding: 6px 9px 8px 9px;
  border: 1px solid #4a525a;
  border-radius: 10px;
  color: whitesmoke;
}

.Dashboard button:hover {
  background-color: #004ba8;
  border: 1px solid #07070a;
  font-weight: bold;
  color: #07070a;
}
