.Header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 45px;
  margin: 0 0 3em 0;
  padding: 0 0 4px;
  background-color: #07070a;
  border-bottom: 1px solid #4a525a;
  color: #3e78b2;
}

.Header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Header ul li {
  display: inline;
}
