.Right ul {
  list-style-type: none;
}

.Right li {
  float: right;
  padding-right: 25px;
  padding-top: 3px;
}

.Right li a {
  text-align: right;
  padding: 7px 10px 12px 10px;
  text-decoration: none;
  color: whitesmoke;
}

.Right li a:hover {
  cursor: pointer;
  background-color: rgb(25, 25, 26);
}
