.Dashboard {
  text-align: center;
  color: #3e78b2;
}

.Dashboard button.Top {
  position: sticky;
  top: 5px;
  z-index: 2;
  padding: 6px 9px 8px 9px;
}

.Dashboard button.Top:hover {
  border: 1px solid #07070a;
  font-weight: bold;
}
