.Header {
  width: 100%;
  margin: 0 0 3em 0;
  padding: 4px 0 4px;
  background-color: #07070a;
  border-bottom: 1px solid #4a525a;
  color: #3e78b2;
}

.Header ul {
  display: inline;
  padding: 4px 20px 4px;
}
