.Header {
  width: 100%;
  margin: 0 0 3em 0;
  padding: 4px 4px 4px;
  background-color: black;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  color: steelblue;
}

.HeaderRight {
  text-align: right;
}

.Header ul {
  display: inline;
  padding: 4px 20px 4px;
}
